PORT=8080
REDIS_URL=redis://redis:6379
MLFLOW_TRACKING_URI=http://mlflow:5000
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=0
MINIO_BUCKET_MODELS={{ cookiecutter.minio_bucket_models }}
MINIO_BUCKET_DATASETS={{ cookiecutter.minio_bucket_datasets }}
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
DVC_MINIO_ENDPOINT=http://127.0.0.1:9000
DVC_BUCKET={{ cookiecutter.minio_bucket_models }}
DVC_PREFIX=dvc
INFERENCE_API_KEY=changeme-set-inference-api-key
{% if cookiecutter.use_auth_service == "yes" %}
AUTH_BOOTSTRAP_PASSWORD=changeme-admin
{% endif %}
{% if cookiecutter.use_monitoring == "yes" %}
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
{% endif %}
